{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="fr">
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <link rel="stylesheet" href="{% get_static_prefix %}css/bulma.min.css">
 
   <title>{% block title %}{% endblock %}</title>
   
  <script src="{% get_static_prefix %}js/jquery-2.1.3.js" ></script>
  <script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

  
  $(document).ready(function() {
			$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
		$("#host").on("change", function(){
			var selectedValue = $('#host :selected').text();
      var spanElement = $('#hostnameSelected');
			alert("IP : "+selectedValue);

			$.ajax({
					url : "/",
					type : "POST",
					data : {csrfmiddlewartoken:"{{csrf_token}}","name" : selectedValue},
					dataType : "json",
					success : function(r){
					alert("Success !!!");
            console.log(r);
            console.log('success');
						var statut = r.response;
						spanElement.text(selectedValue);
            if(statut==0){
              $('#on').text('ON');
              $('#on').removeClass('is-danger');
              $('#on').addClass('is-success');


              // $('#on').css('visibility','hidden');
            }
            else{
              $('#on').text('OFF');
              $('#on').removeClass('is-success');
              $('#on').addClass('is-danger');
            }
					}
			  });
			
		});
	});
  </script>
</head>
<body>

    <nav>
       {% block nav %}
       <header class="hero">
        <div class="hero-head">
          <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
    
              <a class="navbar-item is--brand">
                <img class="navbar-brand-logo" src="" alt="logo">
              </a>
              <a class="navbar-item is-tab is-hidden-mobile is-active"><span class="icon is-medium"><i class="fa fa-home"></i></span>Home</a>
            
    
              <button class="button navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
              </button>
    
            </div>
    
    
            <div class="navbar-menu navbar-end" id="navMenu">
              <a class="navbar-item is-tab is-hidden-tablet is-active">Home</a>
           
              <a class="navbar-item nav-tag">
                <span class="icon is-small">
                  <i class="fa fa-envelope-o"></i>
                </span>
                <span class="tag is-primary tag-notif">Notification</span>
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <figure class="image is-32x32" style="margin-right:.5em;">
                    <img src="">
                  </figure>
                  User
                </a>
    
                <div class="navbar-dropdown is-right">
                    <a class="navbar-item">
                      <span class="icon is-small">
                        <i class="fa fa-user-o"></i>
                      </span>
                      &nbsp; Profile
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                      <span class="icon is-small">
                        <i class="fa fa-power-off"></i>
                      </span>
                      &nbsp; Logout
                    </a>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
       
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<hr />
<footer>
	<div align="center"><b>&copy; 2019 - Diris</b></div>
</footer>
</body>
</html>