{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
 {% csrf_token %}
  <div class="wrapper">
    <div class="columns">
      <aside class="column is-2 aside">
        <nav class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a class="is-active" href="#"><span class="icon is-small"><i class="fa fa-tachometer"></i></span> Dashboard</a></li>
          </ul>
          <p class="menu-label">
            Skills
          </p>
          <ul class="menu-list">
            <li><a href=""><span class="icon is-small"><i class="fa fa-table"></i></span>Skill-NLU</a></li>
            <li><a href=""><span class="icon is-small"><i class="fa fa-table"></i></span>Skill-ASR</a></li>
            <li><a href=""><span class="icon is-small"><i class="fa fa-table"></i></span>Skill-TTS</a></li>
			<li><a href=""><span class="icon is-small"><i class="fa fa-table"></i></span>Skill-KWS</a></li>
            

            <li>
              <a class=""><i class="fa fa-cog"></i> Settings</a>
              <ul>
                <li><a>Profile</a></li>
               
                <li><a href="enceinte/">Ajout enceinte</a></li>
              </ul>
            </li>
          </ul>
          
        </nav>
      </aside>

      <main class="column main">
        <nav class="breadcrumb is-small" aria-label="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
          </ul>
        </nav>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title has-text-primary"><i class="fa fa-tachometer"></i> Dashboard</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small">
                {{ date }}
              </button>
            </div>
          </div>
        </div>

        <div class="columns">          
            <div class="select is-multiple column">
			
                <select multiple size="8" id="host" name="host">
                  
                {% for entry in items %}
                  <option value="{{ entry.id }}" style="color:red;">{{ entry.ip_adress }}</option>
                {% endfor %}
				
				
                </select>
            </div>
          <div class="column">
				<b>IP :</b> <span id="hostnameSelected">{{ hostname }}</span><br />
				<b>Status :</b> 
				<!-- {% if response == 0 %} {% else %} {% endif %} -->
				<span class="tag is-success tag-notif" id="on">ON</span>
				
				<!-- <span class="tag is-danger tag-notif" id="off">OFF</span> -->
				
				<!--Response : {{ response }}-->
          </div>  
        </div>

      </main>
    </div>
  </div>


{% endblock %}